.PhoneInputInput {
  height: 40px !important;
  border: 1px solid rgb(199, 197, 197) !important;
}
.PhoneInputCountry {
  width: 40px !important;
  border: 1px solid rgb(199, 197, 197) !important;
}
.PhoneInputCountryIcon--border {
  margin-left: 5px !important;
}

.PhoneInput .PhoneInput--focus {
  border-color: orange !important;
  /* box-shadow: 0 0 0 1px orange !important; */
}
